
lab4/app/src/main/java/com/example/myapplication/MainActivity.kt
lab3/.gradle/buildOutputCleanup/outputFiles.bin
lab3/.gradle/buildOutputCleanup/buildOutputCleanup.lock
lab3/.gradle/7.0.2/javaCompile/taskHistory.bin
lab3/.gradle/7.0.2/javaCompile/javaCompile.lock
lab3/.gradle/7.0.2/javaCompile/jarAnalysis.bin
lab3/.gradle/7.0.2/javaCompile/classAnalysis.bin
lab3/.gradle/7.0.2/fileHashes/resourceHashesCache.bin
lab3/.gradle/7.0.2/fileHashes/fileHashes.lock
lab3/.gradle/7.0.2/fileHashes/fileHashes.bin
lab3/.gradle/7.0.2/executionHistory/executionHistory.lock
lab3/.gradle/7.0.2/executionHistory/executionHistory.bin
lab3/.gradle/7.0.2/executionHistory/executionHistory.lock
lab5/.idea/gradle.xml
